{# intégrer code de l'entete dans le fichier _header.html.twig    #}

{% include "_header.html.twig" %}
{#   title de page  #}

{% block title %}{% endblock %}

{% block body %}
<br><br>
    <h1>Create new Projet</h1>
    <br>
{# intégrer code de formulaire dans le fichier projet/_form.html.twig    #}

    {{ include('projet/_form.html.twig') }}
{# retour à la liste de projet    #}

    <a href="{{ path('projet_index') }}">back to list</a>
{% endblock %}

{# intégrer code de pied dans le fichier _footer.html.twig    #}

{% include '_footer.html.twig' %}